* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    align-content: space-around;
    font-family: "Lobster Two", cursive;
    flex-direction: column;
    font-size: 30px;
    background-image: url("./sprites/nightskytry_bak.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body .index {
    background: white;
}

.hero {
    display: flex;
    align-items: center;
}

.story-header {
    margin: 10px;
    color: #e1dda1;
}

header h1 {
    font-size: 45px;
    line-height: 60px;
    height: 56px;
    margin: 0;
    display: inline-block;
    color: #e1dda1;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
}

.ribbon {
    background-color: #481026; /* bg color for center of ribbon */
    border: 3px solid #e1dda1; /*border color for center of ribbon */
    padding: 0 20px;
    height: 56px;
    display: inline-block;
    position: relative;
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 50px;
}

.ribbon:before,
.ribbon:after {
    content: ".";
    text-indent: -9999em;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 28px;
    position: absolute;
    left: -45px;
    top: 10px;
    display: block;
    z-index: -1;
}

.ribbon:before {
    border-color: #481026 #481026 #481026 transparent; /*bg color for left side of ribbon #513b53*/
}

.ribbon:after {
    border-color: #481026 transparent #481026 #481026; /* bg color for right side of ribbon */
    right: -45px;
    left: auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.start-fox {
    padding: 10px;
}

.rules {
    height: 300px;
    width: 80%;
    color: #e1dda1;
    letter-spacing: 3px;
}

.start-game {
    background-color: rgb(19, 16, 60);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 80px;
    border: solid #e1dda1;
    box-shadow: 5px 10px 8px #888888;
}

.start-game a {
    color: #e1dda1;
    text-decoration: none;
}

.story-box {
    background-color: rgb(19, 16, 60);
    color: white;
    min-height: 300px;
    width: 1200px;
    margin: 10px;
    border-radius: 20px;
    padding: 35px;
    line-height: 40px;
    box-shadow: 5px 10px 8px #888888;
    letter-spacing: 3px;
    color: #e1dda1;
}

.choice-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-size: 25px;
    line-height: 35px;
    margin: 15px;
    text-align: center;
    padding: 40px;
}

.choice {
    width: 30%;
    min-height: 200px;
    background-color: rgb(19, 16, 60);
    color: white;
    border: solid #e1dda1;
    margin: 10px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 10px 8px #888888;
    letter-spacing: 2px;
    color: #e1dda1;
}

.choice:hover {
    cursor: pointer;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.fox {
    width: 215px;
    height: 275px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 240px;
    margin-left: 190px;
}
.fox .head {
    width: 184px;
    height: 184px;
    display: block;
    background: #ff7373;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    overflow: hidden;
}
.fox .head:before,
.fox .head:after {
    content: "";
    width: 184px;
    height: 184px;
    display: block;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: -92px;
}
.fox .head:before {
    left: -92px;
}
.fox .head:after {
    right: -92px;
}
.fox .head .eye {
    width: 18px;
    height: 9px;
    display: block;
    background: #000;
    border-radius: 18px 18px 0 0;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    animation: piscar 5s step-start 0s infinite;
    -webkit-animation: piscar 5s step-start 0s infinite;
}
.fox .head .eye:nth-child(odd) {
    left: 37px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.fox .head .eye:nth-child(even) {
    right: 37px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.fox .ear {
    width: 93px;
    height: 93px;
    display: block;
    background: #ff9090;
    position: absolute;
    top: 0px;
}
.fox .ear:nth-child(odd) {
    border-radius: 0 93px 0 0;
    left: 31px;
}
.fox .ear:nth-child(even) {
    border-radius: 93px 0 0 0;
    right: 0px;
}
.fox .nose {
    width: 27px;
    height: 27px;
    display: block;
    background: #000;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 169px;
    right: 78px;
}
.fox .body {
    width: 107px;
    height: 214px;
    display: block;
    background: #ff7373;
    border-radius: 0 214px 214px 0;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
}
.fox .tail {
    width: 215px;
    height: 107px;
    display: block;
    background: #ff7373;
    border-radius: 0 0 214px 214px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
}
.fox .tail:before {
    content: "";
    width: 57px;
    height: 57px;
    display: block;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
}

.fox:hover .head,
.fox:hover .ear {
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
}
.fox:hover .ear:nth-child(odd) {
    left: 48px;
}
.fox:hover .ear:nth-child(even) {
    right: -3px;
    top: 20px;
}
.fox:hover .nose {
    width: 24px;
    height: 24px;
    top: 165px;
    right: 103px;
}
.maker {
    font-size: 14px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.maker a {
    color: #e1dda1;
    text-decoration: none;
}

@keyframes piscar {
    15% {
        height: 1px;
    }
    45% {
        height: 9px;
    }
    50% {
        height: 1px;
    }
}
@-webkit-keyframes piscar {
    15% {
        height: 1px;
    }
    45% {
        height: 9px;
    }
    50% {
        height: 1px;
    }
}
